/* main */
html, body {
    height:100%
}

a:hover {
    opacity: 0.75;
}

/* texts */
h4{
    text-align: center;
    font-size: 1.3rem;
    white-space: nowrap;
}

/* navbar */
.nav-tabs>li>a:not(.active) {
    background-color: white!important;
    color: black!important;
}

.nav-tabs>li>a.active{
    background-color: black!important;
    color: white!important;
}


/* outer container */
.outer-container{
    padding-top: 55px;
}

/* home */
.home{
    vertical-align: middle;
    text-align: center;
    height:auto!important;
    height:92vh!important;
    background-image: url("res/homebg.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}   

.list-horizontal {
    display: inline-flex;
    list-style: none;
}

.list-vertical {
    list-style: none;
}

.contact{
    font-size: 1.4rem;
}


/* skills */
.skills{
    margin-top: 10px;
    text-align: center;
    align-items : center;
}

.skills p{
    font-size:2vh!important;
    white-space: nowrap!important;
    font-weight: 500;
}

.card{
    border: none!important;
    background: none!important;
}

.card-img-top:hover{
    opacity: 0.85!important;
}

.card-img-top{
        vertical-align: middle;
        border-style: none;
        height: 10vw;
        width: 100%;
        object-fit: contain;
    
}

/* certificate */
.certificate{
    vertical-align: middle;
    text-align: center;
    background-image: url("res/homebg.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.certificate-item{
    opacity: 0.9;
    display: block;
    color: rgb(0,0, 0)!important;
    transition: all .2s ease-in-out;
}

.certificate-item:hover{
    color: #0056b3!important;
    text-decoration: underline!important;
    transform: scale(0.85);
    
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.centered p{
    margin: 0%;
    font-weight: 500;
    color:#0D47A1 ;
    font-size: 1rem;
}

/* hover */
.project{
    vertical-align: middle;
    text-align: center;
    background-image: url(res/pagebg.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.project-item{
    opacity: 0.9;
    display: block;
    color: rgb(0,0, 0)!important;
    transition: all .2s ease-in-out;
}

.project-item-title{
    color:#3949ab!important;
}