html, body {
    height:100%
}


.mynav {
    transition: top 0.5s ease;
}

.mynav-hide {
    top: -56px;
}

.nav-tabs>li>a:not(.active) {
    background-color: white!important;
    color: black!important;
}

.nav-tabs>li>a.active
{
    background-color: black!important;
    color: white!important;
}



.base-cont{
    padding-top: 55px!important;

}



.home{
    vertical-align: middle;
    text-align: center;
    height:auto!important;
    height:92vh!important;
    background-image: url("res/home4.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}   


.list-horizontal {
    display: inline-flex;
    list-style: none;
}

.list-vertical {
    list-style: none;
}

.contact{
    font-size: 1.4rem;
}

a:hover {
    opacity: 0.75;
}

.skills{
    margin-top: 10px;
    text-align: center;
    align-items : center;
}


.card{
    border: none!important;
    background: none!important;
}

h4{
    text-align: center;
    font-size: 1.3rem;
    white-space: nowrap;
}

.card-img-top{
        vertical-align: middle;
        border-style: none;
        height: 10vw;
        width: 100%;
        object-fit: contain;
    
}


.certificate{
    vertical-align: middle;
    text-align: center;
    background-image: url("res/home4.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.certificate-item{
    opacity: 0.9;
    display: block;
    color: rgb(0,0, 0)!important;
    transition: all .2s ease-in-out;
}

.certificate-item:hover{
    color: #0056b3!important;
    text-decoration: underline!important;
    transform: scale(0.85);
    
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.project{
    vertical-align: middle;
    text-align: center;
    background-image: url(res/home2.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    /*    background-image: linear-gradient(to bottom, #dddddd 0%, #aaaaaa 20%, #999999 60%,#666666 90%);
*/}

.project-item{
    opacity: 0.9;
    display: block;
    color: rgb(0,0, 0)!important;
    transition: all .2s ease-in-out;
}

.project-item-title{
    color:#3949ab!important;
}